body {
  font: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

#container {
  width: 90%;
  /*border: 1px solid grey;*/
  height: 85px;
  margin: 0 auto;
  flex-direction: column;
}
#header {
  display: flex;
  flex-wrap: wrap;

  /*height: 100px;*/
}
#brand {
  /*float: left;*/
  flex: 50%;
  min-width: 300px;
}

h1 a {
  font-size: 35px;
  font-weight: 50;
  color: #861bbf;
  text-decoration: none;
}

#searchBox {
  /*float: right;*/
  display: flex;
  flex: 50%;
  background: linear-gradient(#e4f2b9, #b7e953);
  min-width: 300px;
  /*height: 25px;*/
  padding: 15px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  float: left;
  width: 150px;
  padding: 2px;
  font-size: 15px;
  color: #e36a0c;
  background: white url(images/search.png) right center no-repeat;
}
.submit {
  float: right;
  padding: 1px;
  font-weight: bold;
  color: white;
  background: #a751d6;
  width: 100px;
}
.class {
  clear: both;
}
#menu {
  /* height: 50px;*/
  background: linear-gradient(#f8f594, #d5d533);
  padding: 20px 0;
  display: flex;
  flex-wrap: nwrap;
}

#menu a {
  padding: 20px 20px;
  height: 20px;
  border-right: 1px solid #5d12e7;
}
#menu a:last-child {
  border-right: none;
}
#menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  color: #5d12e7;
  line-height: 5px;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}
#menu a:hover,
#menu a.active {
  font-size: 15px;
  font-weight: bold;
  color: #b314db;
}
/*small screens: vertical menu*/
@media screen and (max-width: 700px) {
  #menu {
    flex-direction: column;
    text-align: center;
  }
}
#introduction {
  background: linear-gradient(#e5f2bb, #b7e952);
  padding: 20px;
  margin: 10px 0;
}
#introduction h3 {
  font-size: 30px;
  color: #316901;
  font-weight: normal;
}
#introduction p {
  font-size: 20px;
  color: #628f19;
  text-align: justify;
}
/*sidebars*/
.sidebars {
  display: flex;
  flex-wrap: wrap;
}
.sidebarWrapper {
  padding: 10px;
  flex: 50%;
}
.sidebar {
  height: 100%;
  width: 100%;
  border: 1px solid #baf46f;
  border-radius: 20px;
  padding: 10px 30px;
}
.sidebar h3 {
  color: #b314db;
  font-size: 25px;
}
#leftsidebar ul li {
  padding-bottom: 6px;
  padding-left: 10px;
  list-style-image: url(images/arrow.png);
}
#rightsidebar ul li {
  padding-bottom: 2px;
  padding-top: 5px;
  padding-left: 50px;
  background: url(images/tick.png) no-repeat left center;
}
.sidebar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: #5d12e7;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease;
  -ms-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  text-decoration: none;
  color: #b314db;
  font-size: 22px;
  font-weight: bold;
}

.footer {
  margin-top: auto;
  height: 70px;
  border: 1px solid #f6f390;
  background: linear-gradient(#f6f390, #d5d533);
  padding: 10px 50px;
  /*margin-top: 500px;*/
}

/*.footer {
  height: 70px;
  background-color: #d5d533;
  padding: 10px 50px;
}*/
